body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #bb0000;
    color: #fff;
    text-align: center;
}

/* HEADER */
/* HEADER MODERNO (ESTILO APP) */
.header-moderno {
    background: #d10000; /* tom um pouco mais claro que o fundo */
    width: 100%;
    padding-bottom: 40px;
    padding-top: 50px;

    /* CURVA MODERNA */
    border-bottom-left-radius: 40% 15%;
    border-bottom-right-radius: 40% 15%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-header {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ffffff55;
    margin-bottom: 10px;
}

.header-titulo {
    margin: 5px 0 0 0;
    font-size: 28px;
    font-weight: bold;
}

.header-sub {
    margin: 5px 0 0 0;
    font-size: 16px;
    opacity: 0.9;
}


/* CAIXAS RETANGULARES DOS LINKS */
.links-retangulares {
    width: 90%;
    margin: 0 auto;
}

.link-box {
    background: #ffffff22;
    padding: 18px;
    margin: 12px 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
    text-decoration: none;
}

.link-box:hover {
    background: #ffffff44;
}

.icon {
    width: 35px;
    filter: brightness(0) invert(1); /* ícone branco */
}

/* TÍTULO */
.titulo-servicos {
    margin-top: 25px;
}

/* CATÁLOGO */
.catalogo {
    width: 90%;
    margin: 0 auto;
}

.serv-item {
    background: #ffffff22;
    margin: 12px 0;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.serv-item:hover {
    background: #ffffff44;
}

/* QR CODE */
.qr-container {
    background: white;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
}

.qr-img {
    width: 220px;
    border-radius: 12px;
}

.pix-chav {
    color: #000;
    margin-top: 10px;
    font-size: 18px;
}
