body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #bb0000;
    color: #fff;
    text-align: center;
}

/* HEADER */
header {
    padding: 25px;
}

.logo {
    width: 140px;
    margin-bottom: 10px;
}

.sub {
    margin-top: 5px;
    font-size: 16px;
}

/* CAIXAS RETANGULARES DOS LINKS */
.links-retangulares {
    width: 90%;
    margin: 0 auto;
}

.link-box {
    background: #ffffff22;
    padding: 18px;
    margin: 12px 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #fff;
    text-decoration: none;
}

.link-box:hover {
    background: #ffffff44;
}

.icon {
    width: 35px;
    filter: brightness(0) invert(1); /* ícone branco */
}

/* TÍTULO */
.titulo-servicos {
    margin-top: 25px;
}

/* CATÁLOGO */
.catalogo {
    width: 90%;
    margin: 0 auto;
}

.serv-item {
    background: #ffffff22;
    margin: 12px 0;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.serv-item:hover {
    background: #ffffff44;
}

/* QR CODE */
.qr-container {
    background: white;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
}

.qr-img {
    width: 220px;
    border-radius: 12px;
}

.pix-chav {
    color: #000;
    margin-top: 10px;
    font-size: 18px;
}
