body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #bb0000;
    color: #fff;
    text-align: center;
}

header {
    padding: 25px;
}

.logo {
    width: 150px;
    margin-bottom: 10px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 20px;
    padding: 20px;
}

.box {
    background: #ffffff22;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.box img {
    width: 70px;
    filter: brightness(0) invert(1);
}

.box:hover {
    background: #ffffff40;
    transform: scale(1.04);
}
